<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.decode"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Decode</name>

  <description>
      A reference app for ASCII Codes, UTF-8 Codes and HTML Entities.
  </description>

  <author href="http://salilnaik.com" email="salil.naik27@gmail.com">
      Salil Naik
  </author>

</widget>
